mixin mobileNav(location)
  .mobile-nav(class="" + location )
    .left-arrow.
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38"><defs><clipPath id="a"><path d="M19 0c10.493 0 19 8.507 19 19s-8.507 19-19 19S0 29.493 0 19 8.507 0 19 0Z"/></clipPath><clipPath id="b"><path d="m9.884 0 2.41 2.453-7.473 7.604 7.473 7.607-2.41 2.454L0 10.058 9.884 0Z"/></clipPath></defs><g clip-path="url(#a)"><path class="bg" fill="#752863" d="M0 0h38v38H0V0z"/></g><g clip-path="url(#b)" transform="matrix(-1 0 0 1 25.706 8.941)"><path fill="#FFF" d="M0 0h12.294v20.118H0V0z"/></g></svg>
    .panel-indicators.mobile
      span.active
      span
      span
      span
      span
      span
    .right-arrow.
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38"><defs><clipPath id="a"><path d="M19 0c10.493 0 19 8.507 19 19s-8.507 19-19 19S0 29.493 0 19 8.507 0 19 0Z"/></clipPath><clipPath id="b"><path d="m9.884 0 2.41 2.453-7.473 7.604 7.473 7.607-2.41 2.454L0 10.058 9.884 0Z"/></clipPath></defs><g clip-path="url(#a)"><path class="bg" fill="#752863" d="M0 0h38v38H0V0z"/></g><g clip-path="url(#b)" transform="matrix(-1 0 0 1 25.706 8.941)"><path fill="#FFF" d="M0 0h12.294v20.118H0V0z"/></g></svg>
