section#ui-nav
  a.desktop-btn.active-ui(data-view="web")
    span(class="mdi mdi-application-outline")
  a.notes-btn(data-view="notes")
    span(class="mdi mdi-note-edit-outline")
  a.map-btn(data-view="map")
    span(class="mdi mdi-map-legend")
  a.print-btn(data-view="print")
    span(class="mdi mdi-cloud-print-outline")
