@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap')

@font-face
  font-family: 'Arrrowsx'
  src: url('../fonts/Arrrows-Regular.woff') format('woff')

.font-arrows
  font-family: "Arrrowsx", sans-serif
  font-weight: 400

$white: #FFFFFF
$green: #73B44A
$green-ada: #428615
$purple: #CA5699
$teal: #00AAC8
$teal-ada: #01768B
$warm-grey: #565A5C
$dark-purple: #752864
$light-blue: #9AD0DD
$light-green: #9AC449
$medium-blue: #59B8DA
$medium-purple: #8F4469
$pink: #D54070
$green-120p: #67A141
$purple-120p: #BA508E
$teal-120p: #0096B0
$warm-grey-30p: #CFCDCE
$warm-grey-50p: #AFACAD
$warm-grey-80p: #807B7D
$dark-grey-text: #565A5C
$medium-grey-display-text: #807B7D
$near-white: #F1F1F1

html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

.img-responsive
  display: block
  max-width: 100%
  height: auto

img, .img-responsive
  background-color: #888

body
  background-color: #001f24
  letter-spacing: -.00625em
  font-size: 16px
  line-height: 26px
  font-family: "Montserrat", sans-serif
  color: $dark-grey-text
  padding-bottom: 50px
  @media (max-width: 1000px)
    font-size: 14px
    line-height: 22px
  .print
    font-size: 18px
    line-height: 23px
    color: #000
    @media (max-width: 1000px)
      font-size: 18px
      line-height: 23px

body *
  font-family: inherit
  letter-spacing: inherit
  line-height: inherit
  color: inherit

// #ui-nav
//   width: 100vw
//   height: 60px
//   text-align: center
//   line-height: 60px
//   margin: 20px 0
//   a
//     font-size: 22px
//     margin-right: 12px
//     padding: 6px 10px
//     border: 1px solid #4a5459
//     border-radius: 4px
//     color: #ccd9deaa
//     &:hover, &.active-ui
//       cursor: pointer
//       background-color: #ccd9deaa
//       border-color: #fff
//       color: #001f24

#panel
  margin: 0 auto
  outline: 1px solid #000
  box-shadow: 1px 5px 25px #000000cc
  overflow: hidden

// #panel.web, #panel.notes, #panel.map
//   width: 100%

#panel.standard.print
  width: 1144px
  height: 393px

// #panel.report-data.print
//   width: 1144px
//   height: 601px

// #panel.report-data.print-full
//   width: 1144px
//   height: 1218px

.panel-indicators span
  width: 12px
  height: 12px
  display: inline-block
  background-color: $purple
  border-radius: 100%
  margin-left: 16px

.panel-indicators.mobile span
  width: 10px
  height: 10px
  margin-left: 14px

.panel-indicators
  margin-top: 25px
  text-align: right
  span.active, span:hover
    background-color: $dark-purple
    cursor: pointer
  @media (max-width: 1000px)
    display: none

.panel-indicators.mobile
  display: block
  margin-top: 0
  padding-top: 2px
  text-align: center
  span.active, span:hover
    cursor: default

.panel-arrows
  position: absolute
  display: inline-block
  top: 50%
  cursor: pointer
  margin-top: -19px
  width: 38px
  height: 38px
  &:hover .bg
    fill: $purple
  @media (max-width: 1000px)
    display: none
.panel-arrows.left-arrow
  left: 0
  transform: scaleX(-1)
.panel-arrows.right-arrow
  right: 0

.mobile-nav
  width: 100%
  height: 30px
  position: relative
  @media (min-width: 1000px)
    display: none

.mobile-nav.top
  margin-top: 30px

.mobile-nav.bottom
  margin-bottom: 30px

.mobile-nav .left-arrow, .mobile-nav .right-arrow
  display: inline-block
  width: 30px
  cursor: default
  top: 0
.mobile-nav .left-arrow
  position: absolute
  left: 10px
  transform: scaleX(-1)
.mobile-nav .right-arrow
  position: absolute
  right: 10px

#panel
  background-color: $white

.container-outer
  padding: 0 55px
  max-width: 1170px
  margin: 0 auto
  position: relative
  @media (max-width: 1000px)
    padding: 0 16px

.print .container-outer
  padding: 0 57px
  max-width: 100%

.container-inner
  padding: 70px 0 74px
  @media (max-width: 1000px)
    padding: 30px 0

.print .container-inner
  padding: 0

.panel-header
  letter-spacing: -.0194em
  line-height: 1.111
  font-weight: 600
  font-size: 18px
  @media (max-width: 1000px)
    display: none

.panel-card
  display: flex
  margin-top: 21px
  min-height: 705px
  gap: 60px
  & > *
    align-self: center
  @media (max-width: 1000px)
    flex-direction: column
    justify-content: start
    margin-top: 0
    min-height: 75vh
    gap: 30px

.print .panel-card
  margin-top: 0
  min-height: initial
  height: 393px
  gap: 50px
  width: 100%
  @media (max-width: 1000px)
    flex-direction: row
    justify-content: start
    margin-top: 0
    min-height: initial
    gap: 50px

h2
  font-size: 30px
  letter-spacing: -0.0116em
  line-height: 42px
  font-weight: 200
  @media (max-width: 1000px)
    font-size: 25px
    line-height: 35px

h3
  font-size: 25px
  letter-spacing: -0.02em
  line-height: 1.28
  font-weight: 600
  color: $dark-purple
  @media (max-width: 1000px)
    font-size: 21px

.print h3, .print h2
  font-size: 21px
  letter-spacing: -0.02em
  line-height: 1.28
  font-weight: 600
  color: $dark-purple
  @media (max-width: 1000px)
    font-size: 21px

p
  margin-top: 13px
  @media (max-width: 1000px)
    margin-top: 11px

.print p
  margin-top: 9px
  @media (max-width: 1000px)
    margin-top: 9px

h2 + p
  margin-top: 25px
  @media (max-width: 1000px)
    margin-top: 21px

h3 + p
  margin-top: 20px
  @media (max-width: 1000px)
    margin-top: 17px

.print h3 + p, .print h2 + p
  margin-top: 16px
  @media (max-width: 1000px)
    margin-top: 16px

.btn
  font-weight: 500
  margin-top: 25px
  @media (max-width: 1000px)
    margin-top: 21px
  &:hover
    text-decoration: underline
    cursor: pointer
    @media (max-width: 1000px)
      cursor: default

.print
  .panel-header, .panel-indicators, .panel-arrows, .mobile-nav
    display: none

.splash, .splash-alt
  .column-one
    flex-shrink: 1
  .column-two
    margin-left: -190px
    max-width: calc(100% - 705px - 60px + 190px)
    min-width: 450px
    z-index: 100
    @media (max-width: 1000px)
      margin: 0 16px
      margin-top: calc(-30px - 40px)
      max-width: 100%
      min-width: auto
  .blurb
    color: $white
    padding: 40px 60px
    background-color: rgba($green-ada, .95)
    @media (max-width: 1000px)
      padding: 20px 16px
  &.print
    .column-one
      flex: 0 0 393px
      margin-left: -57px
    .column-two
      margin-left: 0
      width: 100%
      max-width: none
      min-width: initial
      @media (max-width: 1000px)
        margin: 0
        width: 100%
    .blurb
      color: #000
      padding: 0
      background-color: #fff
      .btn
        display: none
      @media (max-width: 1000px)
        padding: 0

.splash-alt
  .column-one
    order: 2
    @media (max-width: 1000px)
      order: 1
  .column-two
    order: 1
    margin-left: 0
    margin-right: -190px
    @media (max-width: 1000px)
      order: 2
      margin: 0 16px
      margin-top: calc(-30px - 40px)
  &.print
    .column-one
      order: 1
      @media (max-width: 1000px)
        order: 1
    .column-two
      order: 2
      margin-right: 0px
      @media (max-width: 1000px)
        order: 2

.large-asset
  .column-one
    flex-shrink: 1
    .image
      border-right: 10px solid $green
  .column-two
    max-width: calc(100% - 660px - 60px - 10px)
    min-width: 315px
    @media (max-width: 1000px)
      max-width: 100%
      min-width: auto
  &.print
    .column-one
      flex: 0 0 366px
      margin-left: -57px
      .image
        border-right: none
    .column-two
      width: 100%
      max-width: none
      min-width: initial
      @media (max-width: 1000px)
        max-width: 100%
        min-width: auto

.one-asset
  .column-two
    flex-shrink: 1
    .image
      border-bottom: 10px solid $green
  .column-one
    max-width: calc(100% - 520px - 60px)
    min-width: 480px
    @media (max-width: 1000px)
      max-width: 100%
      min-width: auto
  &.print
    .panel-card
      gap: 30px
    .column-two
      flex: 0 0 260px
      margin-right: -57px
      .image
        border-bottom: none
    .column-one
      width: 100%
      max-width: none
      min-width: initial
      @media (max-width: 1000px)
        max-width: 100%
        min-width: auto

.two-assets
  .column-two
    display: flex
    flex-direction: column
    gap: 10px
    flex-shrink: 1
  .column-one
    max-width: calc(100% - 520px - 60px)
    min-width: 480px
    @media (max-width: 1000px)
      max-width: 100%
      min-width: auto
  &.print
    .panel-card
      gap: 30px
    .column-two
      flex: 0 0 260px
      margin-right: -57px
    .column-one
      width: 100%
      max-width: none
      min-width: initial
      @media (max-width: 1000px)
        max-width: 100%
        min-width: initial

.three-assets
  .column-one
    display: flex
    flex-direction: column
    gap: 10px
    flex-shrink: 1
    .image-group
      display: flex
      gap: 10px
  .column-two
    max-width: calc(100% - 520px - 60px)
    min-width: 480px
    @media (max-width: 1000px)
      max-width: 100%
      min-width: auto
  &.print
    .panel-card
      gap: 30px
    .column-one
      flex: 0 0 260px
      margin-left: -57px
    .column-two
      width: 100%
      max-width: none
      min-width: initial
      @media (max-width: 1000px)
        max-width: 100%
        min-width: initial

.copy-only
  .panel-card
    display: grid
    grid-template-columns: auto 550px
    grid-template-rows: repeat(3, auto)
    grid-column-gap: 60px
    grid-row-gap: 0px
    @media (max-width: 1000px)
      display: block
    .bg
      grid-area: 1 / 1 / 4 / 2
      background-color: $green-ada
      height: 100%
      @media (max-width: 1000px)
        display: none
  .card-container
    grid-area: 2 / 1 / 3 / 3
    display: grid
    grid-template-columns: auto 550px
    grid-template-rows: auto
    grid-column-gap: 60px
    grid-row-gap: 0px
    padding: 20px 0
    @media (max-width: 1000px)
      display: block
      padding: 0
  .column-one
    grid-area: 1 / 1 / 2 / 2
    padding: 0 60px
    @media (max-width: 1000px)
      display: block
      padding: 0
    h3
      color: #fff
      @media (max-width: 1000px)
        color: $dark-purple
  .column-two
    grid-area: 1 / 2 / 2 / 3
    @media (max-width: 1000px)
      display: block
  p:first-of-type
    margin-top: 0
    @media (max-width: 1000px)
      margin-top: 17px
  &.print
    .panel-card
      grid-template-columns: auto 780px
      grid-column-gap: 50px
      @media (max-width: 1000px)
        display: grid
      .bg
        display: none
    .card-container
      grid-template-columns: auto 780px
      grid-column-gap: 50px
      padding: 0
      @media (max-width: 1000px)
        display: grid
        padding: 0
    .column-one
      padding: 0
      h3
        color: $dark-purple
    p:first-of-type
      @media (max-width: 1000px)
        margin-top: 0px
