extends /layout.pug

block vars
  - var panel_class = "splash print"

block content
  .container-outer
    .container-inner
      h5.panel-header Panel Header Goes Here Max Characters Lorem Ipsum Dolor Sit Amet Aenean Suscipit
      .panel-card
        .column-one
          .image
            img.img-responsive(src='https://picsum.photos/705/705.jpg' width='705' height='705')
        .column-two
          .blurb
            h2 Primary Header Lorem Ipsum Dolor Sit Amete Consectetur Adipiscing Elite Maecenas Vitae Diam Id Nibha
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget accumsan orci, in cursus lacus. Aliquam sagittis vitae ante quis posuere. Donec hendrerit convallis nulla nec facilisis. Nullam nibh libero, maximus in orci commodo, facilisis blandit neque. Suspendisse libero tel. 
            p Vivamus tristique mattis lectus, nec venenatis diam vulputate nec. Sed condimentum, lorem et mattis efficitur, magna odio consectetur purus, a commodo magna sem.
            p.btn 
              a Learn more &nbsp;
              span.font-arrows m
      include /panel-indicators.pug
    include /panel-arrows.pug
