extends /layout.pug

block vars
  - var panel_class = "stats print"

block content
  .container-outer
    .container-inner
      include /panel-header--standard.pug
      .panel-card
        .column-one
          h3 #{lorem.secondary_header}
          .stat-row
            .stat-card 
              .stat-head $XXX.XX
              .stat-body= placeholder.char(365)
            .stat-card 
              .stat-head XX%
              .stat-body= placeholder.char(188)
                |  (short example)
            .stat-card 
              .stat-head XX,XXX
              .stat-body= placeholder.char(365)
      include /panel-indicators.pug
    include /panel-arrows.pug
