---js
{
  copy1_characters: 1225,
  copy1_paragraphs: 3,
}
---

extends /layout.pug

block vars
  - var panel_class = "copy-only print"

block content
  .container-outer
    .container-inner
      include /panel-header--standard.pug
      .panel-card
        .bg
        .card-container
          .column-one
            .blurb
              h3= placeholder.char(175)
          .column-two
            .blurb
              +insertParagraphs(copy1_characters, copy1_paragraphs)
      include /panel-indicators.pug
    include /panel-arrows.pug
