extends /layout.pug

block vars
  - var panel_class = "copy-only print"

block content
  .container-outer
    .container-inner
      h5.panel-header Panel Header Goes Here Max Characters Lorem Ipsum Dolor Sit Amet Aenean Suscipit
      .panel-card
        .bg
        .card-container
          .column-one
            .blurb
              h3 Lorem ipsum dolor sit amete consec tetur adipiscing elite morbi eu erat tortor. Donec tempor placerat feugiate vestibulum nib sapien, fringilla metuse amete consec tetur adipi
          .column-two
            .blurb
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur rhoncus malesuada orci, sed pulvinar ipsum faucibus vitae. Nunc in ex leo. Aenean consequat et diam et aliquam. Curabitur tincidunt blandit velit. Cras suscipit euismod felis, in dictum sem. Sed sed justo urna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
              p Nunc vel vehicula est. Donec posuere urna in turpis porttitor, sed malesuada felis eleifend. Aenean efficitur justo quam, at pharetra arcu finibus vitae. Vestibulum vitae viverra sapien. Sed sagittis aliquam velit vitae elementum. Maecenas faucibus accumsan nulla a fermentum. Suspendisse maximus ullamcorper quam. 
              p Pellentesque at nisl nec ante porta luctus. Pellentesque sodales libero in vehicula dapibus. Nunc pretium sagittis metus, eu scelerisque turpis cursus malestie. Donec posuere urna in turpis porttitor, sed malesuada felis eleifend. Aenean efficitur justo quam, at pharetra arcu finibus vitae. Vestibulum vitae viverra sapien. Sed di sagittis aliquam velit vitae elementum. Maecenas faucibus accumsan nulla a fermentum. Suspendisse maximus ullamcorper quam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curaem.
      include /panel-indicators.pug
    include /panel-arrows.pug
