---js
{
  img1_width: 660,
  img1_height: 705,
  copy1_characters: 650,
  copy1_paragraphs: 2,
}
---

extends /layout.pug

block vars
  - var panel_class = "large-asset"

block content
  .container-outer
    .container-inner
      include /panel-header--standard.pug
      .panel-card
        .column-one
          .image
            +placeholderImg(img1_width, img1_height, "img-responsive")
        .column-two
          .blurb
            h3= placeholder.char(125)
            +insertParagraphs(copy1_characters, copy1_paragraphs)
      include /panel-indicators.pug
    include /panel-arrows.pug
