---js
{
  img1_width: 705,
  img1_height: 705,
}
---

extends /layout.pug

block vars
  - var panel_class = "splash"

block content
  .container-outer 
    .container-inner
      h5.panel-header= lorem.panel_header
      .panel-card
        .column-one
          .image 
            +placeholderIMG(img1_width, img1_height, "img-responsive")
        .column-two
          .blurb
            h2= lorem.primary_header
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget accumsan orci, in cursus lacus. Aliquam sagittis vitae ante quis posuere. Donec hendrerit convallis nulla nec facilisis. Nullam nibh libero, maximus in orci commodo, facilisis blandit neque. Suspendisse libero tel. 
            p Vivamus tristique mattis lectus, nec venenatis diam vulputate nec. Sed condimentum, lorem et mattis efficitur, magna odio consectetur purus, a commodo magna sem.
            p.btn 
              a Learn more &nbsp;
              span.font-arrows m
      include /panel-indicators.pug
    include /panel-arrows.pug
