---js
{
  img1_width: 705,
  img1_height: 705,
  copy1_characters: 450,
  copy1_paragraphs: 2,
}
---

extends /layout.pug

block vars
  - var panel_class = "splash-alt"

block content
  .container-outer
    .container-inner
      include /panel-header--standard.pug
      .panel-card
        .column-one
          .image
            +placeholderImg(img1_width, img1_height, "img-responsive")
        .column-two
          .blurb
            h2 #{lorem.primary_header}
            +insertParagraphs(copy1_characters, copy1_paragraphs)
            p.btn 
              a Learn more &nbsp;
              span.font-arrows m
      include /panel-indicators.pug
    include /panel-arrows.pug
