---js
{
  img1_width: 520,
  img1_height: 440,
  img2_width: 255,
  img2_height: 255,
  copy1_characters: 1000,
  copy1_paragraphs: 3,
}
---

extends /layout.pug

block vars
  - var panel_class = "three-assets"

block content
  .container-outer
    .container-inner
      include /panel-header--standard.pug
      .panel-card
        .column-one
          .image
            +placeholderImg(img1_width, img1_height, "img-responsive")
          .image-group
            .image
              +placeholderImg(img2_width, img2_height, "img-responsive", 1)
            .image
              +placeholderImg(img2_width, img2_height, "img-responsive", 2)
        .column-two
          .blurb
            h3 #{lorem.secondary_header} 
            +insertParagraphs(copy1_characters, copy1_paragraphs)
      include /panel-indicators.pug
    include /panel-arrows.pug
