doctype html 
html 
  head 
    meta(name='viewport' content='width=device-width, initial-scale=1')
    style.
      body {font-family:sans-serif; line-height:1.6;}
      .strike {text-decoration:line-through; cursor:not-allowed; display:inline-block;}
      .note {font-weight: 400; font-size:0.8em;}
      .info {display: inline-block; max-width: 30em; background-color: #FDF3DD; padding: 16px; color: #555; font-size:0.9em; margin-top:50px;}
  body 
    h2 Standard Panels 
    h3 Screen 
      span.note (resize browser window for smaller/wider layouts)
    ol
      li 
        a(href="/p/standard/splash/") Splash
      li 
        a(href="/p/standard/splash-alt/") Splash (alt)
      li 
        a(href="/p/standard/large-asset/") Large Asset
      li 
        a(href="/p/standard/one-asset/") One Asset
      li 
        a(href="/p/standard/two-assets/") Two Assets
      li 
        a(href="/p/standard/three-assets/") Three Assets
      li 
        a(href="/p/standard/copy-only/") Copy Only
    h3 Print
    ol
      li 
        a(href="/p/standard/splash/print/") Splash
      li 
        a(href="/p/standard/splash-alt/print/") Splash (alt)
      li 
        a(href="/p/standard/large-asset/print/") Large Asset
      li 
        a(href="/p/standard/one-asset/print/") One Asset
      li
        a(href="/p/standard/two-assets/print/") Two Assets
      li
        a(href="/p/standard/three-assets/print/") Three Assets
      li 
        a(href="/p/standard/copy-only/print/") Copy Only
    .info 
      p All images are randomly generated for placeholder purposes. 
      p Designs <em>should</em> work in all modern browsers, but have only been tested in the latest Chrome version on macOS Monterey.